html,
body {
  background-color: #f8f9fa;
}

.top {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 1024px;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.header .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
}

.header .logo img {
  height: 16px;
  filter: drop-shadow(0 2px 5px rgba(245, 108, 108, 0.4));
  /* drop-shadow: 0 1px 5px rgba(245, 108, 108, 0.1); */
}

.header .logo span {
  margin-left: 10px;
  font-size: 22px;
  color: #f56c6c;
  font-family: "Montserrat", sans-serif;
}

.top-form {
  margin-top: 20px;
  box-sizing: border-box;
}

.top-form .title {
  font-size: 30px;
  font-weight: bold;
}

.top-form .divide-line {
  margin: 10px 20px 30px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.top-form form .form-item {
  margin-bottom: 20px;
}

.top-form form .form-item .label {
  font-size: 18px;
}

.top-form form .form-item .input {
  margin-top: 15px;
  color: #666;
}

.top-form form {
  margin-top: 20px;
}

.top-form .search-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px 10px 10px;
}

.top-form .search-header .btn {
  flex-grow: 0;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 14px;
}

.top-form .search-header .title {
  font-size: 20px;
  font-weight: bold;
  width: auto;
  padding: 0;
  color: #333;
}

.body {
  width: 100%;
}

.promotion-card {
  padding: 0;
  height: 100%;
}

.promotion-card .card-body {
  padding: 20px;
}

.promotion-card .description {
  color: #666;
}

.promotions-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
}

.promotions-loading-icon {
  transform: scale(0.6);
}

.promotions-loading-text {
  color: #666;
  font-size: 14px;
}

.promotions-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.promotions-empty-icon {
  width: 30px;
  height: 30px;
}

.promotions-empty-text {
  margin-top: 10px;
  color: #666;
  font-size: 14px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: #999;
  font-size: 14px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animated {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

.section-enter-active,
.section-leave-active {
  transition: all 0.2s;
  opacity: 1;
}

.section-enter-from,
.section-leave-to {
  opacity: 0;
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgb(190, 190, 190);
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
